*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}

header{

    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;

}
header nav{
    width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

nav a{
    text-decoration: none;
}

header nav .logo{
    font-size: 45px;
    color: #181818;
    font-weight: 900;
}
.logo span{
    color: #FD6E0A;
}


header nav ul{
    display: flex;
    align-items: center;
    gap: 51px;
    list-style: none;

}
header nav ul li a{
    font-size: 20px;
    color: #474747;
}
header nav ul li  button, .btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* hero-section start */


.hero-section{
    max-width: 1332px;
    height: 676px;
    margin: 47px 30px 0px 230px;
    /* border: #d73232 solid 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section .content{
    max-width: 585px;
}

.hero-section h2{
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
    font-weight: 600;
}
.hero-section h1{
    font-size: 85px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 20px;
}
.hero-section p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
.hero-section .images img{
    max-width: 584px;
    vertical-align: middle;
}



/* about section */
 
.about-main{
   max-width: 1600px;
   padding-top: 130px;
   text-align: center;

}
.about-main  .about-content{
    max-width: 1140px;
    height: 550px;
    background-color: #FFF8F3;
    margin: 0 auto;
    border-radius: 10px;
    padding: 131px 157px;
}
.about-heading{
    min-width: 827px;
}
.about-main .about-content h1{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
}
.about-main .about-content .about-heading .pf{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.about-foot{
    display: flex;
    justify-content: space-around;
}
.about-foot p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.about-foot b{
    color: #131313;
}