*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}

header{

    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;

}
header nav{
    width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

nav a{
    text-decoration: none;
}

header nav .logo{
    font-size: 45px;
    color: #181818;
    font-weight: 900;
}
.logo span{
    color: #FD6E0A;
}


header nav ul{
    display: flex;
    align-items: center;
    gap: 51px;
    list-style: none;

}
header nav ul li a{
    font-size: 20px;
    color: #474747;
}
header nav ul li  button, .btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* hero-section start */


.hero-section{
    max-width: 1332px;
    height: 676px;
    margin: 47px 30px 0px 230px;
    /* border: #d73232 solid 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section .content{
    max-width: 585px;
}

.hero-section h2{
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
    font-weight: 600;
}
.hero-section h1{
    font-size: 85px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 20px;
}
.hero-section p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
.hero-section .images img{
    max-width: 584px;
    vertical-align: middle;
}



/* about section */
 
.about-main{
   max-width: 1600px;
   padding-top: 130px;
   text-align: center;

}
.about-main  .about-content{
    max-width: 1140px;
    height: 550px;
    background-color: #FFF8F3;
    margin: 0 auto;
    border-radius: 10px;
    padding: 131px 157px;
}
.about-heading{
    min-width: 827px;
}
.about-main .about-content h1{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
}
.about-main .about-content .about-heading .pf{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.about-foot{
    display: flex;
    justify-content: space-around;
}
.about-foot p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.about-foot b{
    color: #131313;
}
.skile-sectionn{
    max-width: 1600px;
    padding-top: 130px;
}
.skile-sectionn .container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.skile-sectionn .container  h1{
    color: #181818;
    font-size: 35px;
    margin-bottom: 30px;
}
.skil-heder{
    max-width: 827px;
    margin: 0 auto;
}
.skile-sectionn .container p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;


}
.card-boxs{
    display: flex;
    gap: 24px;
}
/* .card{
    max-width: 267px;
    height: 377px;
    background-color: #FFFFFF;
    text-align: start;
    border-radius: 5px;
    padding: 30px;

    border: 1px solid red;
} */

.card{
    width: 267px;
    height: 377px;
    text-align: start;
    padding:30px;
    box-shadow: 0 6px  50px 0 #00000030;
    border-radius: 5px;
    
}
.card img{
    margin-bottom: 30px;
}
.card h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.card p{
    font-size: 16px;
    color: #757575;
}



.resume{
    padding-top:130px ;
}
.resume .resume-conteiner{
    margin: 0 auto;
    max-width: 1140px;
    width: 71%;
    padding-bottom:113px ;

}
.resume .resume-conteiner .resumeh1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    /* padding-bottom: 113px; */

}
.edu-exp{
    padding-top: 113px;
    display: flex;
    gap: 20px;
}
.edu-hed{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.deucard{
    max-width: 511px;
    margin-right: 46px;
}
.deucard .cardhed{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;

}
.cardp1{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}
.cardp2{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

.resume hr{
    margin-bottom: 30px;
    color: #D1D1D1;
   
}
.btn1{
    text-decoration: none;
    background-color: #FD6E0A;
    width: 200px;
    height: 65px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 45% ;

    
}