*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}

header{
    background-color: #FFF8F3;
    padding-top: 50px;

}
header nav{
    width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

nav a{
    text-decoration: none;
}

header nav .logo{
    font-size: 45px;
    color: #181818;
    font-weight: 900;
}
.logo span{
    color: #FD6E0A;
}


header nav ul{
    display: flex;
    align-items: center;
    gap: 51px;
    list-style: none;

}
header nav ul li a{
    font-size: 20px;
    color: #474747;
}
header nav ul li  button, .btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}
